[Unit]
Description=start application server

[Service]
Environment=PATH=/home/pi/.rbenv/shims:/home/pi/.rbenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games
WorkingDirectory=/home/pi
Type=simple
ExecStart=/home/pi/.rbenv/shims/ruby /home/pi/app/main.rb
ExecReload=/usr/bin/pkill -SIGTERM -f -u pi ruby /home/pi/app/main.rb
KillMode=process
